<% layout("./layout/boilerplate.ejs") %>
<form action="/campgrounds/<%= campground._id %>/edit?_method=PATCH" method="POST" class="needs-validation" novalidate>
	<div class="mb-3">
		<label class="form-label" for="campground">Name:</label>
		<input class="form-control" type="text" id="campground" name="campground[title]" value="<%= campground.title %>" required />
		<div class="invalid-feedback">Please provide a name for your campground.</div>
	</div>
	<div class="mb-3">
		<label class="form-label" for="location">Location:</label>
		<input class="form-control" type="text" id="location" name="campground[location]" value="<%= campground.location %>" required />
		<div class="invalid-feedback">Please provide a valid city.</div>
	</div>
	<div class="mb-3">
		<label class="form-label" for="image" class="d-block my-4">Image Url:</label>
		<input class="form-control" type="text" id="image" name="campground[image]" value="<%= campground.image %>" required />
	</div>
	<div class="mb-3">
		<label class="form-label" for="description">Description:</label>
		<textarea class="form-control" type="text" id="description" name="campground[description]" required>
		<%=campground.description%></textarea>
	<div class="invalid-feedback">Please provide a description for your campground.
	</div>
	<div class="mb-3">
		<label for="price">Price:</label>
		<div class="input-group my-3">
			<span class="input-group-text">$</span>
			<input
				type="number"
				class="form-control"
				id="price"
				name="campground[price]"
				value="<%= campground.price %>"
				placeholder="00.00 $"
				autocomplete="off"
				required
			/>
			<div class="invalid-feedback price-feedback">Price per night must be a number.</div>
		</div>
	</div>
	<div class="my-3">
		<button type="submit" class="btn btn-success mt-2">Save</button>
		<a href="/campgrounds/<%= campground._id %>" class="btn btn-info mt-2">Cancel</a>
	</div>
</form>

